# ملفات البناء والنظام (الأكثر ثقلاً)
/build/
/*/build/
.gradle/
.externalNativeBuild/
.cxx/
/captures/

# ملفات الإعدادات المحلية والخاصة بجهازك
local.properties
.DS_Store

# ملفات بيئة التطوير (Android Studio / IntelliJ)
.idea/
*.iml
.navigation/

# ملفات السجل والأخطاء
*.log

# ملفات بيئة التشغيل والبيانات السرية
.env